body {
    margin: 0px;
    min-height: 100vh;
    background-image: url(../Images/BG1.JPG);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;

}

.title {
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    -webkit-text-stroke: 2px orange;
    font-size: 62px;
    transition: 1s;
}

.title:hover {
    color: orange;
    -webkit-text-stroke: 1px white;
}

.spots {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.place {
    display: flex;
    margin: 50px 70px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 700px;
    
}

.image {
    width: 550px;
    border-radius: 30px;
}

h1 {
    text-align: center;
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

p {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.link a {
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    width: 50px;
    border-radius: 20px;
    background-color: orange;
    text-align: center;
    color: white;
    font-size: 16px;
    transition: 1s;
}

.link a:hover {
    background-color: white;
    color: orange;
    transform: scale(1.1);
}





