* {
    margin: 0;
    padding: 0;
}

body {

    margin: 0px;
    min-height: 100vh;
    background-image: url(../Images/webmBG.JPG);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
        
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; */
}

.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;

}



.image {
    max-width: 255px;
    float: left;
    border: 5px solid rgb(0, 255, 0);
    border-radius: 15%;
    margin-right: 15px;
}


.div2 {
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px;
}

.name {
    color: white;
}

.name h1 {
    font-size: 50px;
    font-family: 'Baby Sleepwear', sans-serif;
    color: #ffffff;
}
.name h5 {
    font-size: 17px;
    color: rgb(0, 255, 0);
}

.name h2 {
    margin-top: 25px;
    color: #ffffff;
}

.name p {
    margin-top: 5px;
    font-size: 18px;
    text-align: justify;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.name p b {
    font-size: 25px;
    color: rgb(0, 255, 0);
}


.socmed {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    color: rgb(0, 255, 0);
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

.icons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.fb, .insta {
    align-self: center;
    text-align: center;
    margin: 0px 20px;
    font-size: 65px;
    color: rgb(255, 255, 255);
    transition: .6s;

}

.fb:hover {
    color: blue;
}

.insta:hover {
    color: rgb(255, 106, 131);
}









